:root{
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  margin: auto;
  font-family: 'Figtree', sans-serif;
  max-width: 1440px;
  background-color: var(--yellow);
}

main{
  margin: 20vh auto;
  background-color: var(--white);
  width: 310px;
  height: 500px;
  border-radius: 40px;
  box-shadow: 10px 10px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.img_container{
  align-self: center;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}

.img_card{
  border-radius: 10px;
  width: 100%;
}

.card_job{
  
}

